body {
	background-color: #DDeeff;
}

.well {
	background-image: -webkit-gradient(linear,left 0,left 100%,from(#FFFFDD),to(#FFFFDD));
	background: #FFFFDD;
	box-shadow: 0 6px 12px rgba(0,0,0,0.175);
}

table.table thead .sorting { background: url('../img/sort_both.png') no-repeat center right; }
table.table thead .sorting_asc { background: url('../img/sort_asc.png') no-repeat center right; }
table.table thead .sorting_desc { background: url('../img/sort_desc.png') no-repeat center right; }

table.table thead .sorting_asc_disabled { background: url('../img/sort_asc_disabled.png') no-repeat center right; }
table.table thead .sorting_desc_disabled { background: url('../img/sort_desc_disabled.png') no-repeat center right; }

table.table thead .sorting,
table.table thead .sorting_asc,
table.table thead .sorting_desc,
table.table thead .sorting_asc_disabled,
table.table thead .sorting_desc_disabled {
	cursor: pointer;
	*cursor: hand;
}

table.table thead .sorting_asc {
	background-color: #ff8;
}

table.table thead .sorting_desc {
	background-color: #ff8;
}

table.dataTable tbody tr {
	cursor: pointer;
	*cursor: hand;
}

.table-hover tbody tr:hover td,.table-hover tbody tr:hover th {
	background-color: #ff8;
}

.dataTables_paginate .pagination {
	margin: 0;
}

.app-alert {
	position: fixed;
    top: 25px;
	right: 0;
    left: 0;
	z-index: 9999;
}

.app-alert .alert {
	box-shadow: 0px 2px 10px rgba(50, 50, 50, 0.5);
}

.blink_me_5 {
    -webkit-animation-name: blinker;
    -webkit-animation-duration: 0.2s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: 5;

    -moz-animation-name: blinker;
    -moz-animation-duration: 0.2s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: 5;

    animation-name: blinker;
    animation-duration: 0.2s;
    animation-timing-function: linear;
    animation-iteration-count: 5;
}

@-moz-keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@-webkit-keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

footer {
	margin-top: 50px;
}
