body {
	background: #fff;
	margin: 50px;
	font-family: Arial,Sans-Serif;
}

h1 {
	color: #444;
	border-bottom: 1px solid #D0D0D0;
	font-size: 19px;
	font-weight: normal;
	margin: 0 0 14px 0;
	padding: 14px 15px 10px 15px;
}

#body{
	margin: 0 15px 0 15px;
}
	
p.footer{
	text-align: right;	
	font-size: 11px;
	border-top: 1px solid #D0D0D0;
	line-height: 32px;
	padding: 0 10px 0 10px;
	margin: 20px 0 0 0;
}
	
#container{
	margin:10px auto;
	border:1px solid #D0D0D0;
	box-shadow:0 0 8px #D0D0D0;
}
	
.error_field{
	font-weight:normal;
	font-size:14px;
	color:#D8000C;
}

.toolbar{
	margin:5px 0;
	}
	
.message {
	display:block;
	opacity:0.96;
	position:absolute;
	border:2px solid;
	padding:5px 50px;
	font-weigth:bold;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}
.message:before {
	margin: 0 0.5em 0 0;
}

.info{color:#00529B;background-color:#BDE5F8;}
.success{color:#4F8A10;background-color:#DFF2BF;}
.success:before{content:"\2714";}
.warning{color:#9F6000;background-color:#FEEFB3;}
.warning:before{content:"\26A0";}
.error{color:#D8000C;background-color:#FFBABA;}
.error:before{content:"\2718";}

.formee-req {
	top:0;
}

/* formee: http://www.formee.org/ */
.formee legend {
	font-size: 2em;
}

.formee-button, .formee input[type="submit"], .formee input[type="button"], .formee input[type="reset"] {
	font-size:14px;
	text-decoration:none;
	border: 1px solid #D4D4D4;
	color: #333;
	background-color: #ECECEC;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#F4F4F4), to(#ECECEC));
	background-image: -moz-linear-gradient(#F4F4F4, #ECECEC);
	background-image: -o-linear-gradient(#F4F4F4, #ECECEC);
	background-image: linear-gradient(#F4F4F4, #ECECEC);
}

.formee-button:hover, .formee input[type="submit"]:hover, .formee input[type="button"]:hover, .formee input[type="reset"]:hover {
    border-color: #3072b3;
    border-bottom-color: #2a65a0;
    text-decoration: none; 
    text-shadow: -1px -1px 0 rgba(0,0,0,0.3); 
    color: #fff; 
    background-color: #3072b3;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#599bdc), to(#3072b3));
    background-image: -moz-linear-gradient(#599bdc, #3072b3);
    background-image: -o-linear-gradient(#599bdc, #3072b3);
    background-image: linear-gradient(#599bdc, #3072b3);
}

.formee-button.danger, .formee input[type="submit"], .formee input[type="button"], .formee input[type="reset"] {
	color: #900;
}

.formee-button.danger:hover, .formee input[type="submit"]:hover, .formee input[type="button"]:hover, .formee input[type="reset"]:hover {
	border-color: #b53f3a;
    border-bottom-color: #a0302a;
    color: #fff; 
    background-color: #dc5f59;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#dc5f59), to(#b33630));
    background-image: -moz-linear-gradient(#dc5f59, #b33630);
    background-image: -o-linear-gradient(#dc5f59, #b33630);
    background-image: linear-gradient(#dc5f59, #b33630);
}

.formee-button:before {
	margin: 0 0.5em 0 0;
}

/* http://www.paulund.co.uk/css-buttons-with-icons-but-no-images */

.add:before{content:"\271A";color:rgb(57,75,221);}
.delete:before{content:"\2718";color:#D8000C;}
.save:before{content:"\2714";color:#4F8A10;}

/* http://www.datatables.net/ */
.dataTables_wrapper{margin:5px 0;}
.dataTables_wrapper:after{content:".";display:block;clear:both;visibility:hidden;line-height:0;height:0;}

.dataTables_length{float:left;padding:6px;}
.dataTables_filter{float:right;padding:6px;}

.dataTables_top{border-top-left-radius:5px;border-top-right-radius:5px;background:#eee;height:45px;}

.dataTable{clear:both;width:100%;border-collapse:separate;}
.dataTable th{padding:8px 15px;border-bottom:1px solid #888;}
.dataTable td{padding:8px 15px;border-bottom:1px solid #eee;}
.dataTable thead th{cursor:pointer;text-align:left;}
.dataTable thead th:after{content:"";float:right;margin-top:7px;border-width:0 4px 4px;border-style:solid;border-color:#000 transparent;visibility:hidden;}
.dataTable thead th:hover:after{visibility:visible;}
.dataTable thead th.sorting_asc:after,.dataTable thead th.sorting_asc:hover:after{visibility:visible;}
.dataTable thead th.sorting_desc:after{border-bottom:none;border-left:4px solid transparent;border-right:4px solid transparent;border-top:4px solid #000;visibility:visible;}
.dataTable tbody tr{border-bottom:1px solid #eee;}
.dataTable tbody tr:hover{background:#eee;}
.dataTable tbody tr.row_selected td {background-color:#9FAFD1;}
.dataTable tbody tr td a {text-decoration:none;font-weight:bolder;color:#000;}
.dataTable tbody tr td a:hover {text-decoration:underline;}

.dataTables_bottom{background:#eee;height:30px;}
.dataTables_info{padding:9px 6px 6px 6px;float:left;padding:6px;}
.dataTables_paginate{float:right;text-align:right;padding:6px;}

a.paginate_button,a.paginate_active{padding:2px 6px;cursor:pointer;}
a.paginate_button:hover{color:#000;}
a.paginate_active{font-weight:bolder;color:#000;}
a.paginate_button_disabled{cursor:default;color:#fff;}
a.paginate_button_disabled:hover{color:#fff;}

/* http://cssmenumaker.com/ */

/* Main navigation block element */
#cssmenu{
height:37px;
display:block;
padding:0;
margin:5px auto; 
border:1px solid;
border-radius:5px;
}

#cssmenu > ul {list-style:inside none; padding:0; margin:0;}
#cssmenu > ul > li {list-style:inside none; padding:0; margin:0; float:left; display:block; position:relative;}

/* Styling navigation links */
#cssmenu > ul > li > a{
outline:none;
display:block;
position:relative;
padding:12px 20px;
font:bold 13px/100% Arial, Helvetica, sans-serif;
text-align:center;
text-decoration:none;
text-shadow:1px 1px 0 rgba(0,0,0, 0.4);
}

#cssmenu > ul > li:first-child > a{border-radius:5px 0 0 5px;}


/* Extra border for navigation links */
#cssmenu > ul > li > a:after{
content:'';
position:absolute;
border-right:1px solid;
top:-1px; bottom:-1px; right:-2px;
z-index:99;
}
#cssmenu ul li.has-sub:hover > a:after{top:0; bottom:0;}

/* Bullet for dropdowns */
#cssmenu > ul > li.has-sub > a:before{
content:'';
position:absolute; top:18px; right:6px;
border:5px solid transparent;
border-top:5px solid #fff;
}
#cssmenu > ul > li.has-sub:hover > a:before{top:19px;}

/* Hover state styles for drop menu link */
#cssmenu ul li.has-sub:hover > a{
background:#3f3f3f;
border-color:#3f3f3f;
padding-bottom:13px; padding-top:13px;
top:-1px;
z-index:999;
}

/* Show dropdown when hover */
#cssmenu ul li.has-sub:hover > ul, #cssmenu ul li.has-sub:hover > div{display:block;}
#cssmenu ul li.has-sub > a:hover{background:#3f3f3f; border-color:#3f3f3f;}

/* Dropdown styles */
#cssmenu ul li > ul, #cssmenu ul li > div{
display:none; width:auto;
position:absolute; top:38px;
padding:10px 0;
background:#3f3f3f;
border-radius:0 0 5px 5px;
z-index:999;
}

/* Dropdown list style */
#cssmenu ul li > ul{width:200px;}
#cssmenu ul li > ul li{display:block; list-style:inside none; padding:0; margin:0; position:relative;}
#cssmenu ul li > ul li a{
outline:none; display:block;
position:relative;
margin:0; padding:8px 20px;
font:10pt Arial, Helvetica, sans-serif; color:#fff;
text-decoration:none;
text-shadow:1px 1px 0 rgba(0,0,0, 0.5);
}

/* Dropdown box styles */
#cssmenu ul li > div{width:auto; padding:20px;}
#cssmenu ul li > div p{
font:9pt/150% Arial, Helvetica, sans-serif; color:#fff;
text-align:justify;
text-shadow:1px 1px 0 rgba(0,0,0,0.5);
margin:0;
}

#cssmenu ul li > div h1{
position:relative;
margin:0 0 12px 0;
padding-bottom:10px;
border-bottom:1px solid #222;
font:bold 13pt Arial, Helvetica, sans-serif; color:#bbb;
text-shadow:1px 1px 0 rgba(0,0,0,0.5);
}
#cssmenu ul li > div h1:after{
content:'';
height:0; padding:0;
position:absolute; bottom:-2px; left:0; right:0;
border-bottom:1px solid #555;
}

/* ---------------- Styles ----------------- */


/* Gray */
#cssmenu, 
#cssmenu > ul > li > ul > li a:hover{
background:#d5d5d5;
background:-moz-linear-gradient(top, #d5d5d5 0%, #c5c5c5 100%);
background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#d5d5d5), color-stop(100%,#c5c5c5));
background:-webkit-linear-gradient(top, #d5d5d5 0%,#c5c5c5 100%);
background:-o-linear-gradient(top, #d5d5d5 0%,#c5c5c5 100%);
background:-ms-linear-gradient(top, #d5d5d5 0%,#c5c5c5 100%);
background:linear-gradient(top, #d5d5d5 0%,#c5c5c5 100%);
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#d5d5d5', endColorstr='#c5c5c5',GradientType=0);
}
#cssmenu {border-color:#888;}
#cssmenu > ul > li > a{border-right:1px solid #888; color:#fff;}
#cssmenu > ul > li > a:after{border-color:#e5e5e5;}
#cssmenu > ul > li > a:hover{background:#bbb;}


